{% extends "base.html" %}
{% load static %}
{% block title %}
    Index
{% endblock %}

{% block body %}

<div class="index">
    <div class="center">
        <div class="intro">

            <!-- MAIN INTRO -->
            <h1>Hello!</h1>
            <h4>My name is:</h4>
            <h2>Joseph Dehoney</h2>
            <h4>I am a software engineer!</h4>
            <p class="green">My two primary fields of focus:</p>
                <p class="tab green">> Backend development (Python)</p>
                <p class="tab green">> Research pertaining to how AI can benefit the field of neuroscience.</p>
            <br>

            <!-- CONTACT SECTION -->
            <h4 class="function-title" id="contact-title">def contact_me():</h4>
            <div class="row contact-me">
                <div class="col">
                    <p><span class="coral">Email:</span> 
                        <a class="contact-link" href="mailto: josephdehoney@gmail.com">josephdehoney@gmail.com</a>
                    </p>
                    <p><span class="coral">Phone:</span> +1(209)747-1290</p>
                </div>
                <div class="col">
                    <p><span class="coral">LinkedIn:</span> 
                        <a class="contact-link" href="https://www.linkedin.com/in/jdehoney/">linkedin.com/in/jdehoney/</a>
                    </p>
                    <p><span class="coral">Github:</span> 
                        <a class="contact-link" href="https://github.com/jodahoney">github.com/jodahoney</a>
                    </p>
                </div>
            </div>

            <!-- ABOUT ME SECTION -->
            <h4 class="function-title" id="about-title">def about_me():</h4>
            <div class="row about-me-content">
                <div class="col tab">
                    <br>
                    <p>Since I have a background in business, I approach my overarching
                        goal for the future as a mission statement:
                    </p>
                    <p class="green">
                        To create innovative software solutions to solve real-world problems.
                    </p>
                    <br>
                    <p>
                        Since graduating from UCSD with a degree in International Business, I have returned
                        to my foundation in engineering. For the past two years I have been both teaching myself
                        and completing formal coursework in Computer Science. Today, I am looking to continue building
                        products that help people with the novel challenges that seem to come up every day now, along with
                        furthuring my learning in Computer Science through work experiences and graduate study.
                    </p>    
                </div>
                <div class="col tab" id="about-me-pic">
                    <img src="{% static 'images/kurtis_nathan_group.svg' %}" alt="Group picture with friends">
                    <p class="function-title">def pictured():</p> 
                    <p class="about-me-content tab">Graduation day with me in the middle of my two friends Kurtis and Nathan.</p>
                </div>
            </div>
            <!-- RECENT PROJECTS SECTION -->
            <h4 class="function-title" id="recent-projects-title">def recent_projects():</h4>
            <div class="row recent-projects-content tab">
                <!-- TARGET INVENTORY BOT -->
                <div class="project-parent">
                    <div class="project-image-overlay">
                    </div>
                    <img class="project-image" src="{% static 'images/inventoryBot.png' %}" alt="Example bot picture">
                    <div class="project-child">
                        <h4 class="project-title green">Target Inventory Bot:</h4>
                        <p class="project-description">
                            A routine web scraping application that checks the inventory status of 
                            products from a user curated database. All alerts and interactions
                             are done through Discord.
                        </p>
                    </div>
                    <p class="project-stack">Python PostgreSQL Heroku</p>
                </div>
                <!-- THIS WEBSITE -->
                <div class="project-parent">
                    <div class="project-image-overlay">
                    </div>
                    <img class="project-image" src="{% static 'images/portfolio.png' %}" alt="Screenshot of portfolio webpage">
                    <div class="project-child">
                        <h4 class="project-title green">This Webpage:</h4>
                        <p class="project-description">
                            My personal portfolio website that I designed and built within the Django 
                            framework.
                        </p>
                    </div>
                    <p class="project-stack">Django JavaScript PostgreSQL</p>
                    <div class="project-links">
                        <a href="https://github.com/jodahoney/personal_website" target="_blank">
                            <img class="project-link" src="{% static 'images/github-brands.svg' %}">
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


{% endblock %}