{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}

<div class="index">
    <h1>Welcome</h1>
    <h2>My name is Joseph Dehoney</h2>
    <h4>I am a software engineer!</h4>

    <div class="index_projects">
        <h1>Some recent projects I have done:</h1>
        <div class="project_card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>    
</div>


{% endblock %}