{% extends "base.html" %}
{% load static %}
{% block title %}
    Index
{% endblock %}

{% block body %}

<div class="index">
    <h1>Welcome</h1>
    <h2>My name is Joseph Dehoney</h2>
    <h4>I am a software engineer!</h4>
    <br>
    <div class="index_projects container">
        <div class="row">
            <h3>Some recent projects I have done:</h3>
        </div>
        <div class="row">
            <div class="card project_card col-sm">
                <img class="card-img-top" src="{% static 'images/django-logo.png' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">This Portfolio Site</h5>
                  <p class="card-text">View this projects repo on GitHub.</p>
                  <a href="https://github.com/jodahoney/personal_website" class="btn btn-primary">GitHub</a>
                </div>
            </div>
            <div class="card project_card col-sm">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">To be filled</h5>
                  <p class="card-text">This will soon be some details about an awesome project I have done.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card project_card col-sm">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">To be filled</h5>
                  <p class="card-text">This will soon be some details about an awesome project I have done.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
       
    </div>    
</div>


{% endblock %}