* {
  font-family: 'Source Code Pro', monospace;
}

html {
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  width: 100%;
}

body {
  background-color: #282c34;
  font-size: 100%;
}

body .main-content {
  min-height: 100vh;
}

body .tab {
  margin-left: 50px;
}

body .green {
  color: #98c379;
}

body .coral {
  color: #e06c75;
}

body .function-title {
  color: #61afef;
}

body .row {
  margin: 0;
}

.sidebar {
  width: 100px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282c34;
  overflow-x: hidden;
  color: #7f848e;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar .icon {
  padding: 0;
  margin: 10px;
  width: 80px;
  height: 80px;
  display: block;
}

.sidebar .change-icon {
  padding: 0;
  margin: 10px;
  width: 80px;
  height: 80px;
  display: block;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.sidebar .change-icon:hover {
  border-left: solid 5px #56b6c2;
}

.sidebar .social-list {
  position: absolute;
  padding-left: 10px;
  bottom: 10%;
}

.sidebar .social-list .social-icon {
  height: 50px;
  margin: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.sidebar .social-list .social-icon:hover {
  border-left: solid 5px #56b6c2;
  padding-left: 5px;
}

#navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100px;
  background-color: #21252b;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

#navbar ul {
  list-style-type: none;
}

#navbar .nav-link {
  text-decoration: none;
  font-size: 150%;
  color: #7f848e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: -40px;
  cursor: pointer;
}

#navbar .nav-link:hover {
  color: #abb2bf;
}

#navbar .nav-icon {
  height: 30px;
  width: auto;
  color: #d19a66;
}

#navbar .nav-item {
  min-width: 200px;
}

#navbar ul #projects-list {
  padding: 0;
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar ul #projects-list .project-list-item {
  margin: 8px;
}

#navbar ul #projects-list .project-link {
  color: #56b6c2;
}

#navbar ul #projects-list .project-link:hover {
  text-decoration: none;
  color: #e06c75;
}

#navbar ul #projects-list .project-icon {
  height: 25px;
  margin-right: 0px;
}

.main-content {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
}

.index {
  min-height: 100vh;
  background-color: #282c34;
  color: black;
  color: #abb2bf;
  margin-left: 100px;
}

.index .center {
  text-align: center;
}

.index .intro {
  display: inline-block;
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  text-align: left;
  max-width: 1000px;
  font-size: 120%;
}

.index .intro h1 {
  font-weight: 900;
  font-size: 600%;
  color: #56b6c2;
}

.index .intro h2 {
  font-weight: 700;
  font-size: 450%;
  color: #56b6c2;
}

.index .intro h4 {
  font-weight: 500;
  font-size: 200%;
}

.index .intro .contact-me {
  width: 100%;
  font-size: 100%;
  margin-left: 5%;
}

.index .intro .contact-link {
  text-decoration: none;
  color: #abb2bf;
}

.index .intro .contact-link:hover {
  color: #7f848e;
}

.index .intro #about-title {
  margin-top: 10%;
}

.index .intro #about-me-pic p {
  width: 100%;
}

.index .intro #about-me-pic img {
  max-height: 450px;
  width: auto;
}

.index .intro #recent-projects-title {
  margin-top: 10%;
  margin-bottom: 5%;
}

.index .intro .recent-projects-content .project-parent {
  width: 100%;
  margin-bottom: 5%;
}

.index .intro .recent-projects-content .project-parent .project-image-section {
  position: relative;
  width: 100%;
}

.index .intro .recent-projects-content .project-parent .project-image-section .project-image {
  display: block;
  width: 80%;
  height: auto;
  margin: 0;
}

.index .intro .recent-projects-content .project-parent .project-image-section .project-image-overlay {
  position: absolute;
  content: "";
  width: 80%;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
  background-color: #56b6c2;
  opacity: 35%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.index .intro .recent-projects-content .project-parent .project-image-section .project-image-overlay:hover {
  opacity: 0;
  -webkit-box-shadow: 5px 5px #56b6c2;
          box-shadow: 5px 5px #56b6c2;
}

.index .intro .recent-projects-content .project-parent .project-detail {
  position: relative;
  display: block;
  width: 80%;
  height: auto;
  background-color: #21252b;
  color: #abb2bf;
  font-size: 100%;
  border-radius: 5px;
  padding: 1%;
}

.index .intro .recent-projects-content .project-parent .project-stack {
  color: #c678dd;
  text-align: right;
  margin: 1%;
}

.index .intro .recent-projects-content .project-parent .project-links {
  width: 200px;
  margin: 1%;
}

.index .intro .recent-projects-content .project-parent .project-links .project-link {
  color: #e06c75;
}

.index .intro .recent-projects-content .project-parent .project-links .project-link:hover {
  border-left: solid 5px #56b6c2;
  text-decoration: none;
}

.index .intro .recent-projects-content .project-parent .project-links img {
  height: 30px;
  width: auto;
}

.index .project_card {
  padding: 2%;
  margin: 2%;
}

.project-index {
  color: #61afef;
  margin-left: 100px;
  background-color: #282c34;
  height: 100vh;
}

.project-page {
  background-color: #282c34;
  margin-left: 100px;
  height: 100vh;
  color: #56b6c2;
  text-align: center;
}

.project-page .project-content {
  display: inline-block;
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  text-align: left;
  max-width: 1000px;
  font-size: 120%;
}

.project-page .project-content .project-image {
  width: 80%;
  border: 2px solid #7f848e;
  border-radius: 5px;
  margin: 5%;
}

.project-page .project-content .project-links {
  margin-bottom: 5%;
}

.project-page .project-content .project-links .project-link {
  text-decoration: none;
  color: #e06c75;
  font-size: 80%;
}

.project-page .project-content .project-links .project-link img {
  height: 80px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  padding-left: 10px;
}

.project-page .project-content .project-links .project-link img:hover {
  border-left: solid 5px #56b6c2;
}

.project-page .project-content .project-about {
  margin-bottom: 5%;
  color: #abb2bf;
}

.blog_index {
  color: purple;
  margin-left: 100px;
  background-color: #282c34;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  body .tab {
    margin-left: 10px;
    max-width: 100vw;
  }
  .sidebar {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .sidebar .icon {
    padding: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: block;
  }
  .sidebar .change-icon {
    position: absolute;
    top: 10px;
    left: 60px;
    height: 40px;
    cursor: pointer;
    color: #7f848e;
    background-color: #282c34;
    border: none;
    outline: none;
    margin: 10px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .sidebar .changebtn:hover {
    border: none;
  }
  .sidebar .social-list {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .sidebar .social-list li {
    float: left;
  }
  .sidebar .social-list .social-icon {
    height: 30px;
    margin: 5px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .sidebar .social-list .social-icon:hover {
    border-left: solid 5px #56b6c2;
    padding-left: 5px;
  }
  .index, .project-index, .project-page {
    margin-left: 0;
    padding: 10% 0 0 5%;
    max-width: 100%;
    font-size: 70%;
    font-weight: 300;
  }
  .index #about-me-pic img {
    height: 250px;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */