// Primary colors:
$background-gray: #bbbbbb !default;

html {
    background-color: $background-gray;
}

body {
    padding: 1%;    
}

.index {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .project_card {
        padding: 2%;
        margin: 2%;
    }
}

.project_index {
    color: red;
}

.blog_index {
    color: purple;
}