// Primary colors:
$purple: #c678dd;
$error: #f44747;
$coral: #e06c75;
$whiskey: #d19a66;
$chalky: #e5c07b;
$lightDark: #7f848e;
$dark: #5c6370;
$darker: #282c34;
$darkest: #21252b;
$malibu: #61afef;
$green: #98c379;
$fountainBlue: #56b6c2;
$invalid: #ffffff;
$lightWhite: #abb2bf;
$logoBlue: #0078d7;

* {
    font-family: 'Source Code Pro', monospace;
}

html {
    height: 100vh;
    margin: 0;
    background-color: $darker;
    width: 100%;
}

body {
    background-color: $darker;
    font-size: 100%;
    .main-content {
        min-height: 100vh;
    }
    .tab {
        margin-left: 50px;
    }
    .green {
        color: $green;
    }
    .coral {
        color: $coral;
    }
    .function-title {
        color: $malibu;
    }
    .row {
        margin: 0;
    }
}

// SIDEBAR SETTINGS:
.sidebar {
    width: 100px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $darker;
    overflow-x: hidden;
    color: $lightDark;

    ul {
        list-style-type: none;
    }

    .icon {
        padding: 0;
        margin: 10px;
        width: 80px;
        height: 80px;
        display: block;
    }
    // Button to expand and shrink side navbar

    .change-icon {
        padding: 0;
        margin: 10px;
        width: 80px;
        height: 80px;
        display: block;
        transition: 0.1s;
    }
    .change-icon:hover {
        border-left: solid 5px $fountainBlue;
    }   

    .social-list {
        position: absolute;
        padding-left: 10px;
        bottom: 10%;
        .social-icon {
            height: 50px;
            margin: 10px;
            transition: 0.1s;
        }
        .social-icon:hover {
            border-left: solid 5px $fountainBlue;
            padding-left: 5px;
        }
    }
}

// Collapsable navbar that is not shown by default, but comes into screen by shoving out other
#navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 100px;
    background-color: $darkest;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    ul {
        list-style-type: none;
    }
    // Each link tag to go to next part of website
    .nav-link {
        text-decoration: none;
        font-size: 150%;
        color: $lightDark;
        transition: 0.3s;
        margin-left: -40px;
        cursor: pointer;
    }
    .nav-link:hover {
        color: $lightWhite;

    }
    .nav-icon {
        height: 30px;
        width: auto;
        color: $whiskey;
    }
    .nav-item {
        min-width: 200px;
    }
    ul #projects-list {
        padding: 0;
        margin: 0;
        transition: 0.5s;
        .project-list-item {
            margin: 8px;
        }
        .project-link {
            color: $fountainBlue;
        }
        .project-link:hover {
            text-decoration: none;
            color: $coral;
        }
        .project-icon {
            height: 25px;
            margin-right: 0px;
        }
    }


}

.main-content {
    transition: margin-left .5s;
}

.index {
    min-height: 100vh;
    background-color: $darker;
    color: black;
    color: $lightWhite;
    margin-left: 100px;
    
    .center {
        text-align: center;
    }
    .intro {
        display: inline-block;
        margin-top: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        text-align: left;
        max-width: 1000px;
        font-size: 120%;
        h1 {
            font-weight: 900;
            font-size: 600%;
            color: $fountainBlue;
        }
        h2 {
            font-weight: 700;
            font-size: 450%;
            color: $fountainBlue;
        }
        h4 {
            font-weight: 500;
            font-size: 200%;
        }
        .contact-me {
            width: 100%;
            font-size: 100%;
            margin-left: 5%;
        }
        .contact-link {
            text-decoration: none;
            color: $lightWhite;
        }
        .contact-link:hover {
            color: $lightDark;
        }
        #about-title {
            margin-top: 10%;
        }
        #about-me-pic {
            p {
                width: 100%;
            }
            img {
                max-height: 450px;
                width: auto;
            }
        }
        #recent-projects-title {
            margin-top: 10%;
            margin-bottom: 5%;
        }
        .recent-projects-content {
            .project-parent {
                width: 100%;
                margin-bottom: 5%;
                .project-image-section {
                    position: relative;
                    width: 100%;

                    .project-image {
                        display: block;
                        width: 80%;
                        height: auto;
                        margin: 0;
                    }

                    .project-image-overlay {
                        position: absolute;
                        content: "";
                        width: 80%;
                        height: 100%;
                        border-radius: 5px;
                        z-index: 1;
                        background-color: $fountainBlue;
                        opacity: 35%;
                        transition: 0.3s;
                    }
                    .project-image-overlay:hover {
                        opacity: 0;
                        box-shadow: 5px 5px $fountainBlue;
                    }
                }
                .project-detail {
                    position: relative;
                    display: block;
                    width: 80%;
                    height: auto;
                    background-color: $darkest;
                    color: $lightWhite;
                    font-size: 100%;
                    border-radius: 5px;
                    padding: 1%;
                }  
                .project-stack {
                    color: $purple;
                    text-align: right;
                    margin: 1%;
                }
                .project-links {
                    width: 200px;
                    margin: 1%;
                    .project-link {
                        color: $coral;
                    }
                    .project-link:hover {
                        border-left: solid 5px $fountainBlue;
                        text-decoration: none;
                    }
                    img {
                        height: 30px;
                        width: auto;
                    }
                } 
            }
        }
    }
    .project_card {
        padding: 2%;
        margin: 2%;
    }
}

.project-index {
    color: $malibu;
    margin-left: 100px;
    background-color: $darker;
    height: 100vh;
}

.project-page {
    background-color: $darker;
    margin-left: 100px;
    height: 100vh;
    color: $fountainBlue;

    text-align: center;
    .project-content {
        display: inline-block;
        margin-top: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        text-align: left;
        max-width: 1000px;
        font-size: 120%;
        .project-image {
            width: 80%;
            border: 2px solid $lightDark;
            border-radius: 5px;
            margin: 5%;
        }
        
        .project-links {
            margin-bottom: 5%;

            .project-link {
                text-decoration: none;
                color: $coral;
                font-size: 80%;
                img {
                    height: 80px;
                    transition: 0.1s;
                    padding-left: 10px;
                }
                img:hover {
                    border-left: solid 5px $fountainBlue;
                }
            }
            
        }
        .project-about {
            margin-bottom: 5%;
            color: $lightWhite;

        }
    }
}

.blog_index {
    color: purple;
    margin-left: 100px;
    background-color: $darker;
    height: 100vh;
}

// Small screen size
@media only screen and (max-width: 600px) {
    body {        
        .tab {
            margin-left: 10px;
            max-width: 100vw;
        }

    }
    .sidebar {
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        .icon {
            padding: 0;
            margin: 10px;
            width: 50px;
            height: 50px;
            display: block;
        }
        .change-icon {
            position: absolute;
            top: 10px;
            left: 60px;
            height: 40px;
            cursor: pointer;
            color: $lightDark;
            background-color: $darker;
            border: none;
            outline: none;
            margin: 10px;
        }
        #navbar {
            transition: 0s;
        }
        .change-icon:hover {
            border-left: none;
        }
        .social-list {
            position: absolute;
            right: 10px;
            top: 10px;
            li {
                float: left;
            }
            .social-icon {
                height: 30px;
                margin: 5px;
            }
            .social-icon:hover {
                border-left: none;
                padding-left: 5px;
            }
        }

    }
    .index, .project-index, .project-page {
        margin-left: 0;
        padding: 10% 0 0 5%;
        min-width: 100%;
        min-height: 100%;
        font-size: 70%;
        font-weight: 300;
    }

    .index {
        #about-me-pic {
            img {
                height: 250px;
                width: auto;
            }
        }
        
    }
}