{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ project.title }}
{% endblock %}

{% block body %}
<div class="project-page">
    <div class="project-content">
        <h1 class ="function-title">def {{ project.title }}():</h1>
        <div class="row tab">

            <div class="project-image-section">
                {% if project.id == 1 %}
                <img class="project-image" src="{% static 'images/portfolio.PNG' %}" alt="Image of website homepage">
                <div class="project-links tab">
                    <p>Visit the project repository on Github: </p>
                    <a class="project-link" href="https://github.com/jodahoney/personal_website" target="_blank">
                        <img src="{% static 'images/github-brands.svg' %}">
                    </a>
                </div>
                {% elif project.id == 2 %}
                <img class="project-image" src="{% static 'images/inventoryBot.PNG' %}" alt="Example of inventory bot output">
                {% elif project.id == 3 %}
                <img class="project-image" src="{% static 'images/battle_arena.svg' %}" alt="Image of battle arena source code">
                <div class="project-links tab">
                    <p>Visit the project repository on Github: </p>
                    <a class="project-link" href="https://github.com/jodahoney/battle_arena" target="_blank">
                        <img src="{% static 'images/github-brands.svg' %}">
                    </a>
                </div>
                {% else %}
                <img class="project-image" src="{% static 'images/dota_nba.svg' %}" alt="Image of battle arena source code">
                <div class="project-links tab">
                    <p>Visit the project repository on Github: </p>
                    <a class="project-link" href="https://github.com/jodahoney/dota_nba_pay_analysis" target="_blank">
                        <img src="{% static 'images/github-brands.svg' %}">
                    </a>
                </div>
                {% endif %}
            </div>

        </div>
        
        <div class="row tab">
            <div class="project-about">
                <h2 class="green">About the project:</h2>
                <p class="tab">{{ project.description }}</p>
                <br>
                <h2 class="green">Technology used:</h2>
                <p class="tab">{{ project.technology }}</p>
            </div>
            
        </div>
    </div>
    
</div>

{% endblock %}